version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://103.98.149.173:3001  # Build-time variable
    container_name: manage-portfolio
    restart: unless-stopped
    ports:
      - "80:3000"
      - "3001:3001"
    volumes:
      - ./backend/data:/app/backend/data
    environment:
      - NODE_ENV=production
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 40s